<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings><add name="pyrenactionEntities" connectionString="metadata=res://*/Models.pyrenactionDBModel.csdl|res://*/Models.pyrenactionDBModel.ssdl|res://*/Models.pyrenactionDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7ULUJ8M\SQLEXPRESS;initial catalog=pyrenaction;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>